.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
/build
/app/build
*.iml
.DS_Store

# Ignore build logs and APKs
*.log
*.apk
build-log*.txt
